* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .container_aluno{
      background-color: #F3F3F3;
      min-height: 850px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .titulo_aluno{
      font-size: 24px;
  }
  
  .box_aluno div {
    width: 300px;
    background-color: #F3F3F3;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 30px;
  }

  .box_aluno{
    display: flex;
    margin-top: 50px;
  }

  .img{
    width: 150px;
    height: 160px;
    border-radius: 7vw;
    margin-left: 15px;
  }

.box_dados{
  display: flex;
  flex-direction: column;
  
}

.box_dados p{
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 50%;
  
}