.fundo_login {
    /* background-color: #164C92; */
    /* background: linear-gradient(126.03deg, #164C92 18.93%, rgba(14, 70, 143, 0.9) 30.65%, rgba(14, 70, 143, 0.71) 41.02%, rgba(13, 70, 143, 0.61) 50.73%, rgba(13, 69, 143, 0.59) 58.1%, #0C458E 69.81%, #0C4DA1 83.21%); */
    background-color: #FFFFFF;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}

.fundo_login img{
    width: 30vw;
    height: 30vh;
}

.imagem{
    display: flex;
    justify-content: center;
}



.forms {
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inputs  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 38.7vmax
}


/* .input_login{
    width: 15vw;
    height: 1vh;
    background: transparent;
    margin-top: 5vh;
} */

.input_login {
    border: 0;
    width: 350px;
    border-bottom: 1px solid #000;
    text-align: center;
    padding: 10px;
    background: transparent;
    color: #000;
    text-align: left;
    margin-top: 90px;
    /* margin-left: 4vh; */
    outline: 0;
  }
  
  .input_login:hover,
  .input_login:focus {
    border: 0;
    border-bottom: 1px solid #000;
    text-align: center;
    background: transparent;
    color: #000;
    text-align: left;
    outline: 0;
  }

  ::-webkit-input-placeholder {
    text-align: left;
    color: black;
  }

.btn_login{
    height: 6vh;
    margin-top: 4vw;
    width: 20vw;
    border-radius: 20vw;
    font-size: 1vw;
    color: white;
    background-color: #183861;
    border: none;
    margin-left: 3vh;
}
.btn:hover{
    background-color: #D5E1FA;
    cursor: pointer;
    color:  #183861;
}


.red{
    color:  red;
}

a {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #000;
}